*{
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin: auto;
}

.row {
	width: 100%;
	padding-bottom: 20px;
/*	text-align: center;*/ 
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
	float: left;
}

.col-12 {
	width: 100%;
}

.col-11 {
	width: 91.6666%;
}

.col-10 {
	width: 83.3333%;
}

.col-9 {
	width: 75%;
}

.col-8 {
	width: 66.666%;
}

.col-7 {
	width: 58.3333%;
}

.col-6 {
	width: 50%;
}

.col-5 {
	width: 41.6666%;
}

.col-4 {
	width: 33.333%;
}

.col-3 {
	width: 25%;
}

.col-2 {
width: 16.666%
}

.col-1 {
width: 8.3333%;
}

.offset-1 {
	margin-left: 8.3333%;
}

.offset-2 {
	margin-left: 16.666%;
}

.offset-3 {
	margin-left: 25%;
}

.offset-4 {
	margin-left: 33.333%;
}

.offset-5 {
	margin-left: 41.6666%;
}

.offset-6 {
	margin-left: 50%;
}

.offsset-7 {
	margin-left: 58.3333%;
}

.offset-8 {
	margin-left: 66.666%;
}

.offset-9 {
	margin-left: 75%;
}

.offset-10 {
	margin-left: 83.3333%;
}

.offset-11 {
	margin-left: 91.6666%;
}
.row:after {
	content: " ";
	height: 0;
	display: block;
	visibility: hidden;
	width: 100%;
	clear: both;
}